<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.nova.message.mapper.MessageMapper">

    <select id="findById" resultType="org.example.nova.message.domain.Message">
        SELECT
            id,
            message,
            created_at AS createdAt
        FROM
            message
        WHERE
            id = #{id}
    </select>

    <insert id="insert" parameterType="org.example.nova.message.domain.Message" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO message (message, created_at)
        VALUES (#{message}, #{createdAt})

    </insert>

</mapper>
